body {
  margin: 0;
  height: 100vh;
  background: white; /*footerと同色*/
}

.container {
  height: 100%;
  width: 100%;
  margin: auto;
}

link { cursor : pointer; }

a:link { color: white; text-decoration: none; }
a:visited { color: white; text-decoration: none; }

header {
  padding-left: 100px; /*左余白*/
  width: 100%;
  height: 100%;
  background-color: #6f8050;
}

header h1 {
    padding: 250px 0 330px;
}

.heading-logo {
  max-width: 500px;
  width: 100%;
  margin: 0;
}

.menu-bar {
  list-style: none;
  display: block;
  font-size: 30px;
}
.menu-bar ul {
  display: -webkit-flex; /* Safari */
  display: flex;
}

.menu-bar ul li {
  margin-right: 170px;
}
.menu-bar ul li:last-child {
  margin-right: 0;   /*リストの最後だけ右のmarginを0にする*/
}

.menu-bar img {
    width: 40px;
    display: block;
    margin: 0 auto 5px;
}

main {
  width: 100%;
  height: 100%;
  background: white;
}

footer {
  width: 100%;
  height: 100%;
  background: gray;
}
