
html{
    width: 100%;
    font-size: 62.5%;
}

#root {
    --white:        #FFFFFF;
    --light-gray:   #CCCCCC;
    --dark-green:   #5a5f41;
    --black:        rgba(0, 0, 0, 0.70);
  }

body {
  margin: 0;
  height: 100vh;
  background: var(--light-gray); /*footerと同色*/
}

.container {
  height: 100%;
  width: 100%;
  margin: auto;
}

link { cursor : pointer; }
a:link { color: white; text-decoration: none; }
a:visited { color: white; text-decoration: none; }
p { margin: 1rem 0px;   /* 上下に1em・左右に0px */}
header {
  width: 100vw;
  height: 100vw;
  background-color: var(--dark-green);
}
header h1 {
    padding: calc(50vh - 6%) 0 0; /*logoの上下余白*/
  }
  .heading-logo {
    width: 24vw;  /*画像の大きさ*/
    margin: 0;
    padding: 0 calc((100% - 24vw)/2);
  }
    .menu-bar {
      position: fixed;
      display: none;
      width: 100%;
      list-style: none;
    }

.gloval_nav {
  position: fixed;
  top: 0;
  right: -50px;
  width: calc(20vw + 250px);
  height: 100vh;
  background: var(--black);
  transform: translateX(calc(20vw + 300px));
  transition: all 0.4s 0s cubic-bezier(0.17, 1.315, 0.6, 1.00499);
}
.gloval_nav:hover{
  transform: translateX(0);
}
.gloval_nav::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  top: 0px;
  border-right: 200px solid var(--black);
  border-top: 100vh solid transparent;
  left: -200px;
}
.gloval_nav_item_top {
  padding-top: 20vh;
}
.gloval_nav_item {
  padding-top: 10vh;
  padding-left: 8vw;
  font-size: 3rem;
  color: white;
}

.sub_nav {
  position: absolute;
  border-left: 200px solid black;
  border-bottom: 100vh solid transparent;
  z-index: -2;
}
.sub_nav_icon {
  position: absolute;
  width: 40px;
  top: calc(5vh + 30px);
  left: -150px;
}
.sub_nav_title {
  position: absolute;
  font-size: 4rem;
  top: calc(5vh + 100px);
  left: -155px;
  color: var(--white);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}


.about-background-1 {
  content: "";
  position: absolute;
  top: 100vh;
  right: 0;
  border-right: 100vw solid var(--dark-green);
  border-bottom: 15vh solid transparent;
  z-index: -1;
}
.about-background-2 {
  content: "";
  position: absolute;
  top: calc(143vh + 13vw);
  right: 0;
  background: var(--dark-green);
  width: 100vw;
  height: calc(100vh - (43vh + 13vw) + 10vh);
  z-index: -3;
}
.about-background-2::after {
  content: "";
  position: absolute;
  top: -25vh;
  right: 0;
  border-right: 100vw solid var(--dark-green);
  border-top: 25vh solid transparent;
}
.about-background-2::before {
  content: "";
  position: absolute;
  bottom: -20vh;
  right: 0;
  border-right: 100vw solid var(--dark-green);
  border-bottom: 20vh solid transparent;
}
.about-me {
  }
  .about-me-1 {
    display: flex;
    width: 50vw;
    padding-left: calc(190px + 4vw);
    padding-top: calc(25vh);
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }
    .about-chige-png {
      width: 13vw;
      height: 13vw;
      margin: 0;
      padding: 0;
      }
      .about-me-name {
        width: 40vw;
        height: 30px;
        padding-top: 4.8vw;
        padding-left: 5vw;
      }
        .about-me-myname {
          font-size: 3rem;
          letter-spacing: 1rem;
        }
      .about-me-comment {
        width: 40vw;
        height: 20px;
        padding-left: 5vw;
        padding-top: 1vw;
      }
  .about-me-2 {
    padding-top: 13vh;
    padding-right: 15vw;
    font-size: 2.5rem;
    text-align: end;
    letter-spacing: 0.2rem;
  }



@media screen and (max-width: 1100px) {
   /*--- 表示領域が1100px以下の場合に適用するスタイル ---*/


@media screen and (max-width: 768px) {
   /*--- 表示領域が768px以上の場合に適用するスタイル（スマホ）---*/
